:root {
  --body-bg-color: #ffffff;
  --neutral-hue: 210;
  --r-social-icons-dist-top: 30vh;
  --r-social-icons-dist-side: 40px;
  --r-social-icons-dist-size: 14px;
  --search-bg-color: #ffffff;
  --blog-columns: 2;
  --sidebar-size: 25%;
  --post-align-wide-size: 25vw;
  --woocommerce-loop-basic-padding: 0px;
  --woocommerce-sidebar-size: 15%;
  --woocommerce-sidebar-widget-spacing: 0px;
  --woocommerce-discount-color: #0a0000;
  --woocommerce-summary-size: 35%;
  --woocommerce-summary-padding: 0px;
  --woocommerce-summary-bgcolor: rgba(255, 255, 255, 0.03);
  --woocommerce-fullscreen-top-padding-anim: 65px;
  --star-rating-color: #0a0000;
  --woocommerce-custom-image-height: 540px;
}

.woocommerce
  ul.products
  li.product.--customImageContainerHeight
  .rey-productThumbnail {
  height: unset;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
